<h1 class=" mb-4 mt-7 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-4xl dark:text-gray">Sign In </h1>

<%= form_with url: sign_in_path do |f| %>
  <form class="w-full max-w-lg">
    <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-email">
        Email
        </label>
    <%= f.text_field :email, class: "appearance-none block w-fulll bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white", placeholder:"name@email.com"%>
         </div>
        </div>
      <div>
        <div class="flex items-center justify-between">
          <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
          Password
          </label>       
        </div>
        <%= f.password_field :password, class: "appearance-none block w-half bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white", id:"grid-password", type:"password", placeholder:"********"%>
      </div>  
  <div class="container mx-auto">
    <%= f.submit "Sign In", class:"flex-shrink-0 bg-gray-500 hover:bg-gray-700 border-gray-500 hover:border-gray-700 text-sm border-4 text-white py-1 px-2 rounded" %>
  </div>
</form>
<% end %>